<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Learn more</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type ="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="header">
      <h1 class="header-logo" id="header-logo">revUp</h1>
      <button class="pill-button pill-button-small" id="signOutButton">Sign Out</button>
    </div>
    <div id="loggedin"><h3>Not Currently Logged In</h3></div>
    <div class="content">
        <div class="postsubmit"><form id="newPostForm">
            <input type="hidden" id="author" name="author">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="body">Body:</label><br>
            <textarea id="body" name="body"></textarea><br>
            <label for="image">Image:</label><br>
            <input type="file" id="image" name="image"><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="feed">
            <ul id="postList"></ul>
        </div>
    <div class="footer" style="position: fixed;" >
      <h3>platform, IP and code property of revUp.</h3>
    </div>
	<script src="/js/index.js"></script>
  <script src="/js/userHandling.js"></script>
  <script src="/js/postHandling.js"></script>
  </body>
</html>