<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Learn more</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type ="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="header">
      <h1 class="header-logo" id="header-logo">revUp</h1>
      <button class="pill-button pill-button-small" id="signInButton">Sign in</button>
    </div>
    <div class="content">
      <h2>revUp.</h2>
      <p>No influencers, no ads, and no bs. </p>
      <span class="container">
        <img class="left" src="/img/canyonshot.jpeg" alt="Canyon Drive">
      </span>
      <h3>The platform to talk cars and make lifelong track buddies.</h3>
      <span class="container">
        <img class="right" src="/img/carmeet.jpeg" alt="Beach Car Meet">
      </span>
      <a class="pill-button signUpButton" id="waitlist">Sign Up</a>
    </div>
    <div id="signUpModal" class="modal">
      <div class="modal-content">
        <span class="close" id="signUpClose">&times;</span>
        <h2>Sign Up</h2>
        <form id="signUpForm">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name='firstName' required><br><br>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name='lastName' required><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          <input class="pill-button" id="signUpSubmit" type="submit" value="Join">
        </form>
      </div>
    </div>
    <div id="signInModal" class="modal">
      <div class="modal-content">
        <span class="close" id="signInClose">&times;</span>
        <h2>Sign In</h2>
        <form id="signInForm">
          <label for="email">Email:</label>
          <input type="email" id="login-email" name="email" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="login-password" name="password" required><br><br>
          <input class="pill-button" type="submit" id="signInSubmit" value="Sign In">
        </form>
        <h3>User List</h3>
          <ul id="userList">
          </ul>
      </div>
    </div>
    <div class="footer" style="position: fixed;" >
      <h3>platform, IP and code property of revUp.</h3>
    </div>
	<script src="/js/index.js"></script>
  <script src="/js/userHandling.js"></script>
  </body>
</html>